<% content_for :title, "Editing project" %>

<h1>Editing Project</h1>

<div class="container">
  <%= render "form", project: @project %>
</div>

<div class="mt-3">
  <%= link_to "Show", @project, class: "btn btn-primary" %> |
  <%= link_to "Back to projects", projects_path, class: "btn btn-secondary" %>
</div>