<p style="color: green"><%= notice %></p>

<% content_for :title, "Workers" %>

<h1>Workers</h1>

<div id="workers">
  <% @workers.each do |worker| %>
    <%= render worker %>  <!-- This will render the _worker.html.erb partial for each worker -->
    <p>
      <%= link_to "Show this worker", worker %> <!-- Link to the show page of the worker -->
    </p>
  <% end %>
</div>

<%= link_to "New worker", new_worker_path %> <!-- Link to create a new worker -->
