<!-- views/workers/new.html.erb -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="text-center mb-4">New Worker</h1>
      <%= render 'form', worker: @worker %>
      <div class="text-end">
        <%= link_to "Back to Workers", project_workers_path(@project), class: "btn btn-secondary mt-2" %>
      </div>
    </div>
  </div>
</div>
