<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= material.store_name %></h5>
    <p class="card-text">Phone: <%= material.phone %></p>
    <p class="card-text">Rate: <%= material.rate %></p>
    <p class="card-text">Paid Value: <%= material.paid_value %></p>
  </div>
</div>