<% content_for :title, "Editing material" %>

<h1>Editing Material</h1>

<div class="container">
  <%= render "form", material: @material %> <!-- Renders the form partial for editing material -->
</div>

<div class="mt-3">
  <%= link_to "Show this material", @material, class: "btn btn-primary" %> |
  <%= link_to "Back to materials", materials_path, class: "btn btn-secondary" %>
</div>
