<!-- views/materials/index.html.erb -->
<div class="container mt-5">
  <h1 class="mb-4 text-center">Materials</h1>

  <% if notice %>
    <div class="alert alert-info">
      <%= notice %>
    </div>
  <% end %>

  <div class="d-flex justify-content-start mb-4">
    <%= link_to "New Material", new_project_material_path(@project), class: "btn btn-primary" %>
  </div>

  <div class="row">
    <% @materials.each do |material| %>
      <div class="col-md-4 mb-2">
        <%= render 'material', material: material %>
      </div>
    <% end %>
  </div>
   <div class="row">
      <div class="col-md-12 text-left mb-4">
        <%= link_to "Back to Project", project_path(@project), class: "btn btn-secondary" %>
      </div>
</div>
