<p style="color: green"><%= notice %></p>

<% content_for :title, "Materials" %>

<h1>Materials</h1>

<div id="materials">
  <% @materials.each do |material| %>
    <div>
      <%= render material %>
      <p>
        <%= link_to "Show this material", material %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New material", new_material_path, class: "btn btn-primary" %>
