<!-- views/materials/new.html.erb -->
<% content_for :title, "New Material" %>

<h1>New Material</h1>
<%= render 'form', material: @material %>
<%= link_to "Back to Materials", project_materials_path(@project), class: "btn btn-secondary mt-2" %>
